[submodule "tmux"]
	path = tmux
	url = https://github.com/theloosygoose/tmux-config

[submodule "nvim"]
	path = nvim
	url = https://github.com/theloosygoose/nvim-lazy
[submodule "theloosygoose"]
	path = theloosygoose
	url = https://github.com/theloosygoose/theloosygoose.git
